@font-face {
    font-family: "Roboto-ExtraBold";
    src: url(../fonts/Roboto-ExtraBold.ttf)
}

@font-face {
    font-family: "Roboto-LightItalic";
    src: url(../fonts/Roboto-LightItalic.ttf)
}

@font-face {
    font-family: "Roboto-Light";
    src: url(../fonts/Roboto-Light.ttf)
}


.booking-container {
    position: relative;
    display: flex;
    min-height: 100vh;
    padding: 50px 100px;
    align-items: center;
    justify-content: center;  
    flex-direction: column;
    font-family: "Roboto-Light";
    background: url(../images/services_bg.jpg);
}

.content {
    max-width: 800px;
    text-align: center;
    margin-top: 100px;
}

.content > h1 {
    font-size: 45px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

.booking-form {
    width: 40%;
    padding: 40px;
    border-radius: 5px;
    background: #fff
}

.booking-form h2 {
    font-size: 40px;
    color: #1F2937;
    font-weight: bolder;
}

.form-field {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 10px;
}

.booking-form input[type=text], .booking-form input[type=button] {
    width: 100%;
    padding:5px;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #1F2937;
    outline: none;
}

.booking-form input[type=button] {
    margin-bottom: 5px;
}

.form-field > label {
    flex-basis: 150px;
    margin-top: 10px;
}

.booking-form select {
    padding: 10px;
    width: 225px;
    margin-bottom: 20px;
}

.booking-form input[type=text]:hover {
    background-color: #E5E7EB;
}

.booking-form input[type=button]:hover {
    cursor: pointer;
    background-color: #3882F6;
}  




