@font-face {
    font-family: "Roboto-Bold";
    src: url(../fonts/Roboto-Bold.ttf)
}

@font-face {
    font-family: "Roboto-Light";
    src: url(../fonts/Roboto-Light.ttf)
}

body {
    font-family: "Roboto-Light";
}

.icon > img {
    width: 30px;
    height: 30px;
}

.main-container {
    position: relative;
    display: flex;
    min-height: 100vh;
    padding: 50px 100px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(../images/services_bg.jpg);
    margin-top: 40px;
}

.content {
    max-width: 800px;
    text-align: center;
    margin-top: 30px;
}

.content > h2 {
    font-size: 50px;
    color: #F9FAF8;
    font-family: "Roboto-Bold";
}

.contact-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.contact-info {
    width: 35%;
    display: flex;
    flex-direction: column;
}

.box {
    padding: 20px 0;
    position: relative;
    display: flex;
}

.icon {
    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;
    color: #F9FAF8;
    font-weight: 800;
}

.text h3 {
    font-weight: 500;
    color: #1F2937;
}

.contact-form {
    width: 40%;
    background: #fff;
    padding: 40px;
    border-radius: 5px;
}

.contact-form h2 {
    font-size: 40px;
    color: #1F2937;
    font-weight: 400;
}

.form-field {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.form-field input, textarea {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #1F2937;
    outline: none;
    resize: none;
}

.form-field label {
    color: #666
}

.form-field input:hover, .form-field textarea:hover {
    background-color: #E5E7EB;
}

input[type=button]:hover {
    cursor: pointer;
    background-color: #3882F6;
}

input[type=button] {
    background-color: #808080
}












