/* nav {
    display: flex;
    background-color: ;
}

.nav {

    width: 200px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
} */

footer {
    background-color: #1F2937;
}